# Ignorar arquivos e pastas de build locais
build/
nbproject/

# Ignorar arquivos de configuração dos editores/IDEs
.vscode/
.idea/
*.iml

# Ignorar arquivos compilados e ambiente
*.class
.env

# Ignorar controle de versão e documentos locais
.git
.gitignore
README.md
LICENSE
readme_assets/

# Ignorar banco de dados local
database/
